@using PagedList.Mvc
@using Pylon.Models
@model PagedList.IPagedList<Pylon.BL.ProductDTO>


<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>


<script>
	var data1 = JSON.parse('@ViewBag.StartData');
	var data2 = JSON.parse('@ViewBag.EndData');
	var data3 = JSON.parse('@ViewBag.IdData');
</script>

<section id="car-list-area" class="section-padding">
	<div class="container">
		<div class="row">
			<!-- Sidebar Area Start -->
			<div class="col-lg-4">
				<!-- Single Sidebar Start -->
				<div class="single-sidebar">
					<h3>@Resources.Resource.Filter</h3>
					<div class="sidebar-body">
						@Html.Partial("GetFilter", new ProductFilterModel())
					</div>
				</div>
			</div>
			<!-- Single Sidebar End -->

			<div class="col-lg-8">
				@foreach (var product in Model)
				{
					<div class="car-list-content m-t-50">

						<!-- Single Car Start -->
						<div class="single-car-wrap">
							<div class="row">
								<!-- Single Car Thumbnail -->


								<div class="col-lg-5">
									@if (product.ImageMimeType != null)
									{
										<div class="div-new-image">
											<img src="@Url.Action("GetImage", "Product", new { product.Id })" />
										</div>
									}
									else
									{
										<div class="div-new-image">
											<img src="/assets/img/no-image-product.jpg" />
										</div>
									}
								</div>
								<!-- Single Car Thumbnail -->
								<!-- Single Car Info -->
								<div class="col-lg-7">
									<div class="display-table">
										<div class="car-list-info">
											<h2>@product.Name @product.Model</h2>
											<h4>@Resources.Resource.Year: @product.Year</h4>
											@{product.Price = (int)product.Price;}
											<h4>@Resources.Resource.Price: @product.Price$</h4>
											<hr>
											@using (Html.BeginForm("AddOrder", "Order", FormMethod.Post))
											{
												<input type="hidden" value=@product.Id name="productId" />
												<div class="input-group date">
													<div class="col-lg-5">
														<h4>@Resources.Resource.StartDate</h4>
													</div>
													<div class="col-lg-7">
														<input type="text" class="form-control disableDatesDP" id="picker" name="startDate" autocomplete="off" data-myval="@product.Id" />
													</div>
												</div>
												<div class="input-group date">
													<div class="col-lg-5">
														<h4>@Resources.Resource.EndDate</h4>
													</div>
													<div class="col-lg-7">
														<input type="text" class="form-control disableDatesDP" id="picker2" name="endDate" autocomplete="off" data-myval="@product.Id" />
														<p><input type="submit" class="rent-btn" value="@Resources.Resource.BookIt" style="float:right" /></p>
													</div>
												</div>
											}
										</div>
									</div>
								</div>
								<!-- Single Car info -->
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<br />
	@Resources.Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.Resource.of @Model.PageCount

	@Html.PagedListPager(Model, page => Url.Action("GetAll", new { page }))
</section>

