@using Pylon.BL
@model IEnumerable<ProductDTO>

@{
	ViewBag.Title = "GetAll";
}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<section id="car-list-area" class="section-padding">	
		<div class="container">
			<div class="row">
				<!-- Sidebar Area Start -->
				<div class="col-lg-4">
					<div class="sidebar-content-wrap">
						<!-- Single Sidebar Start -->
						<div class="single-sidebar">
							<h3>For More Informations</h3>
							<div class="sidebar-body">
								<p><i class="fa fa-mobile"></i> +8801816 277 243</p>
								<p><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Single Sidebar End -->
				
				<div class="col-lg-8">
					@foreach (var product in Model)
					{
						<div class="car-list-content m-t-50">

							<!-- Single Car Start -->
							<div class="single-car-wrap">
								<div class="row">
									<!-- Single Car Thumbnail -->


									<div class="col-lg-5">
										@if (product.ImageMimeType != null)
										{
											<div>
												<img src="@Url.Action("GetImage", "Product", new { product.Id })" />
											</div>
										}
									</div>
									<!-- Single Car Thumbnail -->
									<!-- Single Car Info -->
									<div class="col-lg-7">
										<div class="display-table">
											<div class="display-table-cell">
												<div class="car-list-info">
													<h2>@product.Name</h2>
													<h3>@product.Model</h3>
													<h5>@product.Fuel</h5>
													<h4>@product.Price.ToString("c")</h4>		
													@using (Html.BeginForm("AddOrder", "Order", FormMethod.Post))
													{
														<input type="hidden" value=@product.Id name="productId" />
														<div class="input-group date" id="datetimepicker2">
															<input type="text" class="form-control" name="startDate" autocomplete="off" />
															<span class="input-group-addon">
																<span class="glyphicon-calendar glyphicon"></span>
															</span>
														</div>
														<div class="input-group date" id="datetimepicker1">
															<input type="text" class="form-control" name="endDate" autocomplete="off" />
															<span class="input-group-addon">
																<span class="glyphicon-calendar glyphicon"></span>
															</span>
														</div>
														<p><input type="submit" class="rent-btn" value="BookProduct" /></p>
													}
												</div>
												<br>
											</div>
										</div>
									</div>
									<!-- Single Car info -->
								</div>
							</div>
						</div>
						<br>
					}
					</div>
				
				</div>
			</div>
	</section>



