@model Pylon.Models.ProductFilterModel
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
</head>
@using (Html.BeginForm("GetFilter", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<div class="login-page-content">
		<div class="login-form">
			<div class="username">
				@Html.Label("Car")
				@Html.TextBoxFor(m => m.Name)
			</div>
			<div class="username">
				@Html.Label("Model")
				@Html.TextBoxFor(m => m.CarModel)
			</div>
			<div class="username">
				@Html.Label("Start Year")
				@Html.TextBoxFor(m => m.MinYear, new { @id = "datepicker", @autocomplete = "off" })
			</div>
			<div class="username">
				@Html.Label("End Year")
				@Html.TextBoxFor(m => m.MaxYear, new { @id = "datepicker2", @autocomplete = "off" })
			</div>
			<div class="username">
				@Html.Label("Min Price")
				@Html.TextBoxFor(m => m.MinPrice, new { @onkeypress = "validate(event)" })
			</div>
			<div class="username">
				@Html.Label("Max Price")
				@Html.TextBoxFor(m => m.MaxPrice, new { @onkeypress = "validate(event)" })
			</div>
			<div class="log-btn">
				<button> Search </button>
				
			</div>
		</div>
	</div>
}

