@model Pylon.Models.ProductFilterModel

@{
	var list = new List<int>();
	for (int i = 2000; i <= DateTime.Now.Year; i++)
	{
		list.Add(i);
	}
}

@using (Html.BeginForm("GetFilter", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
				<div class="login-page-content">
					<div class="login-form">
						<form action="index.html">
							<div class="username">
								@Html.TextBoxFor(m => m.Name, new { @placeholder = "Model" })
							</div>
							<div class="username">
								@Html.TextBoxFor(m => m.CarModel, new { @placeholder = "CarModel" })
							</div>
							<div class="username">
								@Html.DropDownListFor(m => m.MinYear, new SelectList(list), new { @placeholder = "StartDate" })
							</div>
							@{
								list.Reverse();
							}
							<div class="username">
								@Html.DropDownListFor(m => m.MaxYear, new SelectList(list), new { @placeholder = "EndDate"})
							</div>
							<div class="username">
								@Html.TextBoxFor(m => m.MinPrice, new { @placeholder = "CarModel" })
							</div>
							<div class="username">
								@Html.TextBoxFor(m => m.MaxPrice, new { @placeholder = "CarModel" })
							</div>
							<div class="log-btn">
								<button> Search </button>
							</div>
						</form>
					</div>
				</div>
}