@model IEnumerable<Pylon.BL.UserDTO>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--=== Main Style CSS ===-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link href="/style.css" rel="stylesheet">
</head>
<section id="car-list-area" class="section-padding">
	<div class="container">
		<div class="row">
			<table class="table">
				<tr>
					<th>
						@Html.DisplayName(@Resources.Resource.Email)
					</th>
					<th>
						@Html.DisplayName(@Resources.Resource.Name)
					</th>
					<th>
						@Html.DisplayName(@Resources.Resource.LastName)
					</th>
					<th>
						@Html.DisplayName(@Resources.Resource.Roles)
					</th>
					<th>
						
					</th>
					<th>
						
					</th>
					<th>
						
					</th>
					<th>
						
					</th>
				</tr>

				@foreach (var item in Model)
				{
					if (item.IsDeleted == false)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Email)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.FirstName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.LastName)
							</td>
							@{
								string newString = " ";
							}
							<td>
								@foreach (var role in item.UserRoles.Result)
								{
									@role @newString
								}
							</td>
							@if (item.IsBlocked == false)
							{
								<td>

									@using (Html.BeginForm("BlockUser", "Admin"))
									{
										@Html.Hidden("id", item.Id)
										<button class="btn purple" title="@Resources.Resource.BlockUser" onclick="return confirm('@Resources.Resource.AreYouSure')"><i class="fa fa-ban fa-2x"></i></button>
									}
								</td>
							}
							else
							{
								<td>
									@using (Html.BeginForm("UnblockUser", "Admin"))
									{
										@Html.Hidden("id", item.Id)
										<button class="btn primary" title="@Resources.Resource.UnblockUser"><i class="fa fa-check-square-o fa-2x"></i></button>
									}
								</td>
							}
							<td>

								@using (Html.BeginForm("DeleteUser", "Admin"))
								{
									@Html.Hidden("id", item.Id)
									<button class="btn red" title="@Resources.Resource.DeleteUser" onclick="return confirm('@Resources.Resource.AreYouSure')"><i class="fa fa-trash-o fa-2x"></i></button>
								}
							</td>
							<td>
								@using (Html.BeginForm("AddRole", "Admin"))
								{
									@Html.DropDownList("role",
										new SelectList(item.Roles),
										@Resources.Resource.SelectRole)
									@Html.Hidden("id", item.Id)
									<button class="btn green" title="@Resources.Resource.AddRole"><i class="fa fa-plus-square fa-2x"></i></button>
								}
							</td>
							<td>
								@using (Html.BeginForm("RemoveRole", "Admin"))
								{
									@Html.Hidden("id", item.Id)
									@Html.DropDownList("role",
										 new SelectList(item.UserRoles.Result),
										 @Resources.Resource.SelectRole)
									<button class="btn red" title="@Resources.Resource.RemoveRole"><i class="fa fa-minus-square fa-2x"></i></button>
								}
							</td>
						</tr>
					}
				}
			</table>
			</div>
		</div>
	</section>
