@model Pylon.Models.PasswordChangeViewModel

@using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-8 m-auto" style="max-width:90%; flex-basis:90%">
				<div class="login-page-content">
					<div class="login-form">
						<h3>Change Password</h3>
						<form action="index.html">
							<div class="password">
								@Html.PasswordFor(m => m.Password, new { @placeholder = "New Password", @autocomplete = "off" })
								@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
							</div>
							<div class="password">
								@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "New Password Confirm", @autocomplete = "off" })
								@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
							</div>
							<div class="log-btn">
								<button> Change Password </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
}