<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<!--=== Slicknav CSS ===-->
	<link href="/assets/css/plugins/slicknav.min.css" rel="stylesheet">
	<!--=== Magnific Popup CSS ===-->
	<link href="/assets/css/plugins/magnific-popup.css" rel="stylesheet">
	<!--=== Owl Carousel CSS ===-->
	<link href="/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
	<!--=== Gijgo CSS ===-->
	<link href="/assets/css/plugins/gijgo.css" rel="stylesheet">
	<!--=== FontAwesome CSS ===-->
	<link href="/assets/css/font-awesome.css" rel="stylesheet">
	<!--=== Theme Reset CSS ===-->
	<link href="/assets/css/reset.css" rel="stylesheet">
	<!--=== Main Style CSS ===-->
	<link href="/style.css" rel="stylesheet">
	<!--=== Responsive CSS ===-->
	<link href="/assets/css/responsive.css" rel="stylesheet">
</head>

<body class="loader-active">

	<div class="content">
		<!--== Preloader Area Start ==-->
		<div class="preloader">
			<div class="preloader-spinner">
				<div class="loader-content">
					<img src="/assets/img/preloader.gif" alt="JSOFT">
				</div>
			</div>
		</div>
		<!--== Preloader Area End ==-->
		<!--== Header Area Start ==-->
		<header id="header-area" class="fixed-top">
			<!--== Header Bottom Start ==-->
			<div id="header-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-2">
							<div class="div-new-image">
							<img src="/assets/img/car-logo.png">
							<img src="/assets/img/pylon.png">
							</div>
						</div>
						<!--== Main Menu Start ==-->
						<div class="col-lg-8 d-none d-xl-block">
							<nav class="mainmenu alignright">
								<ul>
									@if (User.IsInRole("admin"))
									{
										<li>@Html.ActionLink("Admin", "GetAllUsers", "Admin") </li>
									}
									@if (User.IsInRole("customer") || User.IsInRole("saler"))
									{
										<li>@Html.ActionLink("All Cars", "GetAll", "Product") </li>
									}
									@if (User.IsInRole("saler"))
									{
										<li>@Html.ActionLink("My Cars", "GetSalerProducts", "Product") </li>
									}
									@if (User.IsInRole("customer") || User.IsInRole("saler"))
									{
										<li>@Html.ActionLink("Profile", "GetInfo", "Profile") </li>
									}
									@if (User.IsInRole("customer"))
									{
										<li>@Html.ActionLink("My Orders", "GetCustomerOrders", "Order") </li>
									}
									<li>@Html.Partial("_LoginPartial")</li>
								</ul>
							</nav>
						</div>
						<!--== Main Menu End ==-->
					</div>
				</div>
			</div>
			<!--== Header Bottom End ==-->
		</header>
		<!--== Header Area End ==-->
		<!--== Page Title Area Start ==-->
		<section id="page-title-area" class="section-padding overlay">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</section>


		<div class="container body-content">
			@RenderBody()
		</div>
	</div>
	<div class="footer">
		<!--== Footer Area Start ==-->
		<section id="footer-area">
			<!-- Footer Widget Start -->
			<div class="footer-widget-area">
				<div class="container">
					<div class="row">
						<!-- Single Footer Widget Start -->
						<div class="col-lg-4 col-md-6">
							<div class="single-footer-widget">
								<h2>About Us</h2>
								<div class="widget-body">
									<div class="div-new-image">
										<img src="/assets/img/car-logo.png">
									</div>
									<p>We are an international car rental company. Thank you for choosing us.</p>
								</div>
							</div>
						</div>
						<!-- Single Footer Widget End -->
						<!-- Single Footer Widget Start -->
						<div class="col-lg-4 col-md-6">
						</div>
						<!-- Single Footer Widget End -->
						<!-- Single Footer Widget Start -->
						<div class="col-lg-4 col-md-6">
							<div class="single-footer-widget">
								<h2>get touch</h2>
								<div class="widget-body">
									<p>You can contact us in the following ways:</p>

									<ul class="get-touch">
										<li><i class="fa fa-map-marker"></i> Minsk, Belarus</li>
										<li><i class="fa fa-mobile"></i> +375 44 542 63 52 </li>
										<li><i class="fa fa-envelope"></i> stepan.smyslov@gmail.com</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Footer Widget End -->
					</div>
				</div>
			</div>
			<!-- Footer Widget End -->
			<!-- Footer Bottom Start -->
			<div class="footer-bottom-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved </a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom End -->
		</section>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script src="/assets/js/jquery-3.2.1.min.js"></script>
	<!--=== Jquery Migrate Min Js ===-->
	<script src="/assets/js/jquery-migrate.min.js"></script>
	<!--=== Popper Min Js ===-->
	<script src="/assets/js/popper.min.js"></script>
	<!--=== Bootstrap Min Js ===-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!--=== Gijgo Min Js ===-->
	<script src="/assets/js/plugins/gijgo.js"></script>
	<!--=== Vegas Min Js ===-->
	<script src="/assets/js/plugins/vegas.min.js"></script>
	<!--=== Isotope Min Js ===-->
	<script src="/assets/js/plugins/isotope.min.js"></script>
	<!--=== Owl Caousel Min Js ===-->
	<script src="/assets/js/plugins/owl.carousel.min.js"></script>
	<!--=== Waypoint Min Js ===-->
	<script src="/assets/js/plugins/waypoints.min.js"></script>
	<!--=== CounTotop Min Js ===-->
	<script src="/assets/js/plugins/counterup.min.js"></script>
	<!--=== YtPlayer Min Js ===-->
	<script src="/assets/js/plugins/mb.YTPlayer.js"></script>
	<!--=== Magnific Popup Min Js ===-->
	<script src="/assets/js/plugins/magnific-popup.min.js"></script>
	<!--=== Slicknav Min Js ===-->
	<script src="/assets/js/plugins/slicknav.min.js"></script>
	<!--=== Mian Js ===-->
	<script src="/assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		var day = [2012];
	$("#datepicker").datepicker({
			format: " yyyy",
			viewMode: "years",
			minViewMode: "years",
			autoclose: true,
			startDate: "2000",
			endDate: "@DateTime.Today.Year",
			beforeShow: setholiDays
		});
		function setholiDays(date) {
			for (i = 0; i < day.length; i++) {
				if (date.getFullYear() == day[i]) {
					return [false, 'holiday', day[i]];
				}
			}
			return [true, ''];
		};
	</script>
	<script>
	$("#datepicker2").datepicker({
			format: " yyyy",
			viewMode: "years",
			minViewMode: "years",
			autoclose: true,
			startDate: "2000",
			endDate: "@DateTime.Today.Year"
	});
	</script>
	<script>
		$(function () {
			$("#datepicker3").datepicker({
				format: "dd/mm/yyyy",
				autoclose: true
			});
		});
	</script>
	<script>
		$(function () {
			$("#datepicker4").datepicker({
				format: "dd/mm/yyyy",
				autoclose: true,
			});
		});
	</script>
	<script>
		function readURL(input) {

			if (input.files && input.files[0]) {
				if (!input.files[0].type.match('image.*')) {
					return;
				}
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#image').attr('src', e.target.result);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#imgInput").change(function () {
			readURL(this);
		});
	</script>
	<script>
		function validate(evt) {
			var theEvent = evt || window.event;
			var key = theEvent.keyCode || theEvent.which;
			key = String.fromCharCode(key);
			var regex = /[0-9]|\./;
			if (!regex.test(key)) {
				theEvent.returnValue = false;
				if (theEvent.preventDefault) theEvent.preventDefault();
			}
		}
	</script>
	<script>
		var Temp = 0;
		var Cdates= new Array();
		var Enddate= new Array();
		var Id = 0;
		function Do(x) {
			Cdates = data1;
			Enddate = data2;
			Id = data3;
			Temp = x;
			$(this.document).ready(function () {		
			$(function () {
				$('input').filter('.form-control').datepicker({
					format: "dd/mm/yyyy",
					autoclose: true,
					startDate: "@DateTime.Today",
					beforeShowDay: check_closed
		});
				});		
				function check_closed(date) {
				var m = date.getMonth(); d = date.getDate();
				if (d < 10) { d = "0" + d; }; y = date.getFullYear();
					for (i = 0; i < Cdates.length; i++) {
						if (Id[i] == Temp &&(($.inArray(d + '.' + (m + 1) + '.' + y, Cdates) != -1) || ($.inArray(d + '.' + '0' + (m + 1) + '.' + y, Cdates) != -1))) {
				return false;
			}
			return true;
		}
	}
});
		}
		
	
	</script>
</body>
</html>
