<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
	<!--=== Favicon ===-->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

	<title>Cardoor - Car Rental HTML Template</title>

	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<!--=== Slicknav CSS ===-->
	<link href="/assets/css/plugins/slicknav.min.css" rel="stylesheet">
	<!--=== Magnific Popup CSS ===-->
	<link href="/assets/css/plugins/magnific-popup.css" rel="stylesheet">
	<!--=== Owl Carousel CSS ===-->
	<link href="/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
	<!--=== Gijgo CSS ===-->
	<link href="/assets/css/plugins/gijgo.css" rel="stylesheet">
	<!--=== FontAwesome CSS ===-->
	<link href="/assets/css/font-awesome.css" rel="stylesheet">
	<!--=== Theme Reset CSS ===-->
	<link href="/assets/css/reset.css" rel="stylesheet">
	<!--=== Main Style CSS ===-->
	<link href="/style.css" rel="stylesheet">
	<!--=== Responsive CSS ===-->
	<link href="/assets/css/responsive.css" rel="stylesheet">
</head>

<body class="loader-active">

	<div class="content">
		<!--== Preloader Area Start ==-->
		<div class="preloader">
			<div class="preloader-spinner">
				<div class="loader-content">
					<img src="/assets/img/preloader.gif" alt="JSOFT">
				</div>
			</div>
		</div>
		<!--== Preloader Area End ==-->
		<!--== Header Area Start ==-->
		<header id="header-area" class="fixed-top">
			<!--== Header Bottom Start ==-->
			<div id="header-bottom">
				<div class="container">
					<div class="row">
						<div class="col-lg-4"></div>
						<!--== Main Menu Start ==-->
						<div class="col-lg-8 d-none d-xl-block">
							<nav class="mainmenu alignright">
								<ul>
									@if (User.IsInRole("admin"))
									{
										<li>@Html.ActionLink("Admin", "GetAllUsers", "Admin") </li>
									}
									@if (User.IsInRole("customer") || User.IsInRole("saler"))
									{
										<li>@Html.ActionLink("All Cars", "GetAll", "Product") </li>
									}
									@if (User.IsInRole("saler"))
									{
										<li>@Html.ActionLink("My Cars", "GetSalerProducts", "Product") </li>
									}
									@if (User.IsInRole("customer") || User.IsInRole("saler"))
									{
										<li>@Html.ActionLink("Profile", "GetInfo", "Profile") </li>
									}
									@if (User.IsInRole("customer"))
									{
										<li>@Html.ActionLink("My Orders", "GetCustomerOrders", "Order") </li>
									}
									<li>@Html.Partial("_LoginPartial")</li>
								</ul>
							</nav>
						</div>
						<!--== Main Menu End ==-->
					</div>
				</div>
			</div>
			<!--== Header Bottom End ==-->
		</header>
		<!--== Header Area End ==-->
		<!--== Page Title Area Start ==-->
		<section id="page-title-area" class="section-padding overlay">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</section>


		<div class="container body-content">
			@RenderBody()
		</div>
	</div>
	<div class="footer">
		<section id="footer-area">
			<!-- Footer Widget Start -->
			<div class="footer-widget-area">
				<div class="container">
					<div class="row"> </div>
				</div>
			</div>
			<!-- Footer Widget End -->
			<!-- Footer Bottom Start -->
			<div class="footer-bottom-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<p>
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> All rights reserved
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom End -->
		</section>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script src="/assets/js/jquery-3.2.1.min.js"></script>
	<!--=== Jquery Migrate Min Js ===-->
	<script src="/assets/js/jquery-migrate.min.js"></script>
	<!--=== Popper Min Js ===-->
	<script src="/assets/js/popper.min.js"></script>
	<!--=== Bootstrap Min Js ===-->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!--=== Gijgo Min Js ===-->
	<script src="/assets/js/plugins/gijgo.js"></script>
	<!--=== Vegas Min Js ===-->
	<script src="/assets/js/plugins/vegas.min.js"></script>
	<!--=== Isotope Min Js ===-->
	<script src="/assets/js/plugins/isotope.min.js"></script>
	<!--=== Owl Caousel Min Js ===-->
	<script src="/assets/js/plugins/owl.carousel.min.js"></script>
	<!--=== Waypoint Min Js ===-->
	<script src="/assets/js/plugins/waypoints.min.js"></script>
	<!--=== CounTotop Min Js ===-->
	<script src="/assets/js/plugins/counterup.min.js"></script>
	<!--=== YtPlayer Min Js ===-->
	<script src="/assets/js/plugins/mb.YTPlayer.js"></script>
	<!--=== Magnific Popup Min Js ===-->
	<script src="/assets/js/plugins/magnific-popup.min.js"></script>
	<!--=== Slicknav Min Js ===-->
	<script src="/assets/js/plugins/slicknav.min.js"></script>
	<!--=== Mian Js ===-->
	<script src="/assets/js/main.js"></script>

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/moment-with-locales.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#datetimepicker1').datetimepicker({
				locale: 'ru',
			});
			$('#datetimepicker2').datetimepicker({
				locale: 'ru'
			});
		});
	</script>
</body>
</html>
