@using Pylon.Models
@model Pylon.Models.RegisterModel
@{
	ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<section id="login-page-wrap" class="section-padding-login">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-8 m-auto">
					<div class="login-page-content">
						<div class="login-form">
							<h3>@Resources.Resource.Registration</h3>
							<form action="index.html">
								<div class="name">
									<div class="row">
										<div class="col-md-6">
											@Html.TextBoxFor(m => m.FirstName, new { @placeholder = @Resources.Resource.Name, onkeypress = "return checkSpcialChar(event)" })
											@Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
										</div>
										<div class="col-md-6">
											@Html.TextBoxFor(m => m.LastName, new { @placeholder = @Resources.Resource.LastName, onkeypress = "return checkSpcialChar(event)" })
											@Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
										</div>
									</div>
								</div>
								<div class="username">
									@Html.TextBoxFor(m => m.Phone, new { @autocomplete = "off", @id = "phone", @placeholder = @Resources.Resource.Phone })
									@Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
								</div>
								<div class="username">
									@Html.TextBoxFor(m => m.Email, new { @placeholder = Resources.Resource.Email, onkeypress = "return checkSpcialChar(event)" })
									@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
								</div>
								<div class="password">
									@Html.PasswordFor(m => m.Password, new { @placeholder = Resources.Resource.Password, onkeypress = "return checkSpcialChar(event)" })
									@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
								</div>
								<div class="password">
									@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = Resources.Resource.PasswordConfirm, onkeypress = "return checkSpcialChar(event)" })
									@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
								</div>
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
								<div class="log-btn">
									<button type="submit"> @Resources.Resource.SignUp</button>
								</div>
							</form>
						</div>
						<div class="create-ac">
							@Html.ActionLink(@Resources.Resource.HaveAnAccount, "Login")
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

}
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script>
	$("#phone").mask("+375(99) 999-99-99");
</script>

<script>
	function checkSpcialChar(event) {
		if (event.key == '>' || event.key == '<') {
			event.returnValue = false;
			return;
		}
		event.returnValue = true;
	}
</script>