@using Pylon.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Pylon.BL.OrderDTO>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<section id="car-list-area" class="section-padding">
	<div class="container">
		<div class="row">
			<!-- Sidebar Area Start -->
			<div class="col-lg-4">
				<!-- Single Sidebar Start -->
				<div class="single-sidebar">
					<h3>Filter</h3>
					<div class="sidebar-body">
						@Html.Partial("GetFilter", new OrderFilterModel())
					</div>
				</div>
			</div>
			<!-- Single Sidebar End -->

			<div class="col-lg-8">
				@foreach (var order in Model)
				{
					<div class="car-list-content m-t-50">
						<div class="single-car-wrap">
							<div class="row">
								<div class="col-lg-5">
									<div class="div-new-image">
										<img src="@Url.Action("GetImage", "Product", new { Id = order.ProductId })" />
									</div>
								</div>
								<div class="col-lg-7">
									<div class="car-list-info">
										<h2>@order.StartDate.ToShortDateString() - @order.EndDate.ToShortDateString()</h2>
										<h4>@order.ProductName @order.ProductModel</h4>
										<h4>Price: @order.ProductPrice.ToString()</h4>
										<hr>
										@using (Html.BeginForm("RemoveOrder", "Order"))
										{
											@Html.Hidden("id", order.Id)
											<div class="secondary-btn">
												<button style="float:left">Remove</button>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

	<br />
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

	@Html.PagedListPager(Model, page => Url.Action("GetCustomerOrders", new { page }))
</section>